// COLORS

/* Primary */
$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);

/* Neutral */
$grayishblue: hsl(233, 8%, 62%);
$lightgrayishblue: hsl(220, 16%, 96%);
$verylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// FONT SIZE
$font-s: 0.875rem; // 14px
$font-m: 1.125rem; // 18px
$font-l: 1.875rem; // 30px
$font-xl: 3.25rem; // 52px